html {
    font-family: 'Lato', sans-serif;
    background-color: rgb(253, 252, 252);
}

#body {
    margin-top: 50px;
    height: 450px;
    margin-left: -115px;
}

#logo {
    display: inline;
    height: 80px;
    margin: 0px;
    position: relative;
    bottom: 739px;
}

#head {
    bottom: 396px;
    position: relative;
    left: -603px;
}

#neck {
    bottom: 368px;
    position: relative;
    left: -422px;
}

#heart {
    position: relative;
    bottom: 306px;
    left: -798px;
}

#limbs {
    position: relative;
    bottom: 228px;
    left: -948px;
}

#knees {
    position: relative;
    bottom: 160px;
    left: 214px;
}

#stomach {
    position: relative;
    bottom: 307px;
    left: 419px;
}

.relative {
    position: relative;
}

button {
    position: relative;
    border-radius: 100px;
    width: 100px;
    padding: 13px;
    background: #51808a4d;
    border: 1px #51808a;
    color: #51808a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;

}

button:hover {
    background-color: rgba(255, 255, 255, 0.39);

}

#sec1 h1 {
    font-family: 'Lato', sans-serif;
    color: #51808a;
    position: relative;
    left: 616px;
    bottom: -51px;
    max-width: 600px;
    font-size: 5rem;
    font-weight: 200;

}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #51808a;
    font-size: 3rem;
    border: none;
    left: 7px;
    bottom: 232px;
    max-width: 200px;
    border-radius: 10px;
    font-family: lato;
    font-weight: 300;
}

/* The container <div> - needed to position the dropdown content */
h2 {
    position: relative;
    display: inline;
    left: 50px;
    bottom: 50px;
    max-width: 500px;
}

.navbar{
    background-color: #5a72de;
    height:100px;
}

a {
    color: white;
    text-decoration: none;
    padding: 50px;
    padding-top: 50px;
    margin: 0px;
    font-family:lato;

}

a:first-of-type {
    margin-left: 500px;
}

a:hover {
    color: grey;
};

.dropdown-content a {
    color: #51808a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    left: 7px;
    bottom: 232px;
    font-family: lato;
    font-size: 1.5rem;
    max-width: 300px;
}
div img {
    display: inline;
    height: 80px;
    margin-bottom: 5px;
    margin-left: 20px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.39);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content a {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.39);
}
