* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



html {
    background: #E8F9FD;
    color: white;
    text-rendering: optimizeLegibility;
}


.flex {
    display: flex;
}

.relative {
    position: relative;
}

.z-10 {
    z-index: 11;
}

.w-full {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    padding: 50px;
    padding-top: 50px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500px;
    z-index: 11;

}

a:first-of-type {
    margin-left: 400px;
}

a:hover {
    color: rgba(255, 255, 255, 0.322);
}
div img {
    display: inline;
    height: 80px;
    margin: 20px;
}
.hero {
    position: absolute;
    top: 40%;
    left: 10%;
    bottom: 10%;
    transform: translate(-50% -50%);
}

.headline {
    font-family: 'Lato', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 5rem;

}

#sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(./Images/istockphoto-1302923059-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: -120px;
    z-index: 10;}

.button{
    border: 2px solid #E8F9FD;
    background-color: transparent;
    border-radius: 80px;
    padding:20px;
    margin:20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: white;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.443);
}
.button:first-of-type{
    margin-left: 400px;
   width:85.55px;
   height:61.33px;
}
.relative p{
    color:#2155CD;
    top:700px;
    left:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}